/* Main Title*/
.findjob {
  width: 100%;
  left: 0px;
  font-family: Anton, sans-serif;
  font-size: 8vw;
  position: absolute;
  text-align: center;
  animation-name: topFadeOut;
  animation-duration: 2s;
  margin-top: 3vw;
}
/* Title Animation*/
@keyframes topFadeOut {
  0% {
    position: absolute;
    top: -3vew;
    opacity: 0;
  }
}
/* Large Text*/
.findjobs {
  min-height: 25vw;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* regular text*/
.fj {
  margin-left: 22vw;
  margin-right: 22vw;
}
.fj1 {
  font-family: Lato;
  text-align: left;
  font-size: 2vw;
}
.fj2 {
  font-size: 2vw;
  text-align: left;
  font-family: lato;
  text-decoration:underline;
  text-decoration-color: #ff8f66;
}

.fj3 {
  font-family: Lato;
  font-size: 1.75vw;
  text-align: left;
  font-weight: lighter;
}

.fj4 , .fj5 {
  font-size: 1.3vw;
  font-family: lato;
  text-align: left;
}
/* Images on the pages*/
.fjimage {
  float: right;
  width: 40vh;
  height: 25vh;
  margin-left: 1vw;
  border: black;
  border-radius: 2vw;
  margin-top: 1vw;
}
.fjimage1 {
  float: left;
  width: 40vh;
  height: 25vh;
  border: black;
  border-radius: 2vw;
  margin-right: 1vw;
}
/* Text*/
.quest {
  font-family: lato;
}
/* Resume template images*/
.resumetemp {
  position: relative;
  width: 100vh;
  height: 70vh;
  border: black;
  border-width: 3vw;
}
.resumex {
  position: relative;
  width: 60vh;
  height: 80vh;
  border: black;
  border-width: 3vw;
}
/* Cool Hover Download Buttons */
.btn-5,
.btn-5::after {
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  -o-transition: all 0.3s;
	transition: all 0.3s;
}

.btn-5 {
  background: none;
  border: .3vw solid #000;
  color: #000;
  display: inline-block;
  font-size: 7vh;
  position: relative;
  text-decoration: none;
  font-family: 'open sans Condensed';
  margin-left: 0.3vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
}

.btn-5::before,
.btn-5::after {
  background: #000;
  content: '';
  position: absolute;
  z-index: -1;
}

.btn-5:hover {
  color: #2ecc71;
  cursor: pointer;
}

/* BUTTON 5 */
.btn-5 {
  overflow: hidden;
}

.btn-5::after {
  height: 100%;
  left: -35%;
  top: 0;
  transform: skew(30deg);
  transition-duration: 0.6s;
  transform-origin: top left;
  width: 0;
}

.btn-5:hover:after {
  width: 135%;
}
