
/*css for home page*/

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}
body::-webkit-scrollbar { display: none; }






/*Button */
#top {
  background-color:#9FDDCD;
  position: relative;
  top: -26vh;
	-moz-border-radius:5vh;
	-webkit-border-radius:5vh;
	border-radius:5vh;
	border:1vh solid #9FDDCD;
	cursor:pointer;
	color:#000000;
	font-family:'Open Sans Condensed', sans-serif;
	font-size:3vh;
	padding:1vh 2vh;
	text-decoration:none;
  z-index: 999;
}
#top:hover {
	background-color:#98D3C3;
  border:1vh solid #98D3C3;

}






/* Footer */

.footer li a {
	color: white;
  text-decoration: none;
  list-style-type: none;
  font-family:'Open Sans Condensed', sans-serif;

}


.footer {

	background-color: #000000;
	margin-bottom: 20vh;
  margin-top: 20vh;
	text-align: center;
	text-decoration: none;



}


/* Slideshow */
#slide-window
  {
  position:relative;
  width: 100%;
  height:100%;
  top:0;
  left:0;
  overflow: hidden;
  }

  #slides
    {
    height:100%;
    position:absolute;
    margin:0;
    padding:0;

    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);

    transition: all 0.66s ease; -webkit-transition: all 0.66s ease;

    }

  .slide
    {
    list-style:none;
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
    width: 500vh;
    height: 100%;
    background: #ccc;
    text-align: center;
    background-size: cover;
    background-position:50% 50%;
    color:#fff;
    -webkit-transform: translate3d(0,0,0);
    visibility:hidden;
    -webkit-transform-style: preserve-3d;
    }

  .alive { visibility:visible; }



.nav
  {
  position:absolute;
  z-index:9;
  top:50%;
  cursor:pointer;
  color:#fff;
  opacity:0.7;
  transition: all 0.66s ease; -webkit-transition: all 0.66s ease;
  }

.nav:hover { opacity:1.0; }
#left { left:3%; color: black;}
#right { right:3%; color: black}
/* Text on slide show */
/* Slide 1*/
.slidetext1 {
  font-size: 14vh;
  font-family: Anton, sans-serif;
  position: relative;
  top: -10%;
  word-wrap: break-word;
  color: black;
}
/* Slide 2*/
.slidetext2 {
  font-size: 15vh;
  font-family: Anton, sans-serif;
  position: relative;
  top: -3%;
  text-align: left;
  color: black;
  margin-left: 15%;
  line-height: 25vh;
}
.image1 {
  position: absolute;
  top: 27vh;
  right:8vw;
  width: 35vw;
  height: 25vw;
  float: right;
}
#buton2 {
	background-color:#9FDDCD;
  position: relative;
  top: -23vh;
	-moz-border-radius:5vh;
	-webkit-border-radius:5vh;
	border-radius:5vh;
	border:1vh solid #9FDDCD;
	cursor:pointer;
	color:#000000;
	font-family:'Open Sans Condensed', sans-serif;
	font-size:3vh;
	padding:1vh 2vh;
	text-decoration:none;
  z-index: 999;
  left: -15%;
}

  #buton2:hover {
  	background-color:#98D3C3;
    border:1vh solid #98D3C3;

  }
  #buton {
  	background-color:#9FDDCD;
    position: relative;
    top: -23vh;
  	-moz-border-radius:5vh;
  	-webkit-border-radius:5vh;
  	border-radius:5vh;
  	border:1vh solid #9FDDCD;
  	cursor:pointer;
  	color:#000000;
  	font-family:'Open Sans Condensed', sans-serif;
  	font-size:3vh;
  	padding:1vh 2vh;
  	text-decoration:none;
    z-index: 999;
    left: -22%;
  }

    #buton:hover {
    	background-color:#98D3C3;
      border:1vh solid #98D3C3;

    }
/* Slide 3*/
.slidetext3 {
  font-size: 15vh;
  font-family: Anton, sans-serif;
  position: relative;
  top: -3%;
  text-align: right;
  color: black;
  margin-right: 15%;
  line-height: 25vh;
}
.image3 {
  position: absolute;
  top: 27vh;
  left:8vw;
  width: 35vw;
  height: 25vw;
  float: left;
}
#buton3 {
	background-color:#9FDDCD;
  position: relative;
  top: -23vh;
	-moz-border-radius:5vh;
	-webkit-border-radius:5vh;
	border-radius:5vh;
	border:1vh solid #9FDDCD;
	cursor:pointer;
	color:#000000;
	font-family:'Open Sans Condensed', sans-serif;
	font-size:3vh;
	padding:1vh 2vh;
	text-decoration:none;
  z-index: 999;
  right: -17%;
}

  #buton3:hover {
  	background-color:#98D3C3;
    border:1vh solid #98D3C3;

  }
/*slide 4*/
.slidetext4 {
  font-size: 15vh;
  font-family: Anton, sans-serif;
  position: relative;
  top: -3%;
  text-align: right;
  color: black;
  margin-right: 10%;
  line-height: 25vh;
}
.image4 {
  position: absolute;
  top: 27vh;
  left:8vw;
  width: 35vw;
  height: 25vw;
  float: left;
}
#buton4 {
	background-color:#9FDDCD;
  position: relative;
  top: -23vh;
	-moz-border-radius:5vh;
	-webkit-border-radius:5vh;
	border-radius:5vh;
	border:1vh solid #9FDDCD;
	cursor:pointer;
	color:#000000;
	font-family:'Open Sans Condensed', sans-serif;
	font-size:3vh;
	padding:1vh 2vh;
	text-decoration:none;
  z-index: 999;
  right: -25%;
}

  #buton4:hover {
  	background-color:#98D3C3;
    border:1vh solid #98D3C3;

  }


/* What is Vitay Section One */
#bottom {
  background-image: -webkit-linear-gradient(75deg , #9FDDCD 50%, #fff 50%);
  min-height: 20vw;
  height: 37vw;

}
 .text1{
   margin-left: 50vw;
   margin-right: 5vw;
  font-family: Lato;
  font-weight: 600;
  font-size: 4vw;
}
.text2{
  margin-left: 50vw;
  margin-right: 5vw;
  margin-top: 5vw;
 font-family: Lato;
 font-size: 1.7vw;
 background-color: white;
}

.job1 {
  position: absolute;
  width: 25vw;
  height: 25vw;
  margin-left: 12vw;
  margin-top: 5vw;
}
#next {
  background-image: -webkit-linear-gradient(105deg , #9FDDCD 50%, #fff 50%);
  min-height: 20vw;
  height: 37vw;

}
 .text3{
   margin-left: 5vw;
   margin-right: 50vw;
  font-family: Lato;
  font-weight: 600;
  font-size: 4vw;
}
.text4{
  margin-left: 5vw;
  margin-right: 50vw;
  margin-top: 5vw;
 font-family: Lato;
 font-size: 1.7vw;
 background-color: white;
}

.help {
  position: absolute;
  width: 25vw;
  height: 25vw;
  margin-left: 66vw;
  margin-top: 5vw;
}
