/* Making things responsive to be able to be viewed on phones */
@media(max-width: 865px) {
/* Nav bar responsive */
      nav div {
            display: block;
            color: #FFFFFF;
            text-align: right;
      }

      ul {
            z-index: 2;
            display: none;
            position: static;
            background: #000;

      }
      ul li:hover { background: #9FDDCD;}

      ul li {
            display: block;
      }

      ul ul {
            position: static;
            background: #e3e3e3;
      }
/* Logo Responsive */
      .logo {
        float: left;
        height: 6vh;
        margin: 1vh;
        text-align: left;
      }

/* Slideshow along with text and buttons on Slideshow Responsive */
/* SLide 2*/
  .slidetext2 {
        text-align: center !important;
        line-height: 20vh;
        top: -16vh;
        margin-top: 25vh;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 30vh;
}
.slidetext3 {
      text-align: center !important;
      line-height: 20vh;
      top: -16vh;
      margin-top: 25vh;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 30vh
}
.slidetext4{
      text-align: center !important;
      line-height: 20vh;
      top: -16vh;
      margin-top: 25vh;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 30vh
}
.slidetext5{
      text-align:center !important;
      line-height: 20vh;
      top: -16vh;
      margin-top: 25vh;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 30vh
}
      .image1 , .image3, .image4, .image2, .image5{
          position: absolute;
          top: 66vh;
          left:50%;
          transform: translate(-50%, -50%);
          width: 30vh;
          height: 30vh;
      }

    #buton3, #buton4 , #buton , #buton5, #buton2{

        position: absolute;
        width: 25%;
        top: 47vh;
        left: 50%;
        transform: translate(-50%, -50%);
      }
.jobopen {
  font-size: 4vw;
  margin-left: 8vw;
  margin-right: 8vw;
  top: 25%;
}
.apply{
  font-size: 4vw;
  margin-left: 8vw;
  margin-right: 8vw;
  top: 28%;
}
.image3 {
  width: 40vh;
  height: 30vh;
}
.interview {
  font-size: 4vw;
  margin-left: 8vw;
  margin-right: 8vw;
  top: 25%;
}
.image4 {
  width: 50vh;
  height: 40vh;

}
.whatresume {
  font-size: 4vw;
  margin-left: 8vw;
  margin-right: 8vw;
  top: 25%;
}
/* what is vitay - section one */
#bottom, #next {
  height: 100vw;
}
.text1 {
  margin-left: 1vw;
  font-size: 6vw;
  text-align: center;
}
.text1::after {

left: 31%;
width: 38%;
}
.text2 , .text4{
  margin-left: 15vw;
  margin-right: 15vw;
  font-size: 4vw;
  text-align: center;
  background-color: inherit;
}
.job1 {
  position: absolute;
  left: 40%;
  transform: translate(-50%, -50%);
  margin-top: 86%;
}
.help{
  position: absolute;
  right:25%;
  transform: translate(-50%, -50%);
  margin-top: 86%;
}
.text3{
  margin-right: 1vw;
  font-size: 6vw;
  text-align: center;
}
.text3:after {
  left: 37%;
  width: 25%;
}
#textparallax{
font-size: 8vh;
top: 58vh;
}
/* responsive buttons on the bottom of home page */

#button6 {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 515vw;
}
#button2 {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 530vw;
}
#button3{
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 545vw;
}
#button4 {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 560vw;
}
#button5 {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 575vw;
}
.findjobs {
  height: 80vw;
  background-attachment: scroll;

}
.findjob {
  font-size: 15vw;
}
.fj1 {
  font-size: 4vw;
}
.fj2 {
  font-size: 6vw;
}
.fj3 {
  font-size: 5vw;
}
.fj4 , .fj5{
  font-size: 4vw;
}
.parallax {
  background-attachment: scroll;
}
.fjimage , .fjimage1 {
  float: none;
  margin: 0;
}
.resumetemp {
  transform: translate(-50%, -50%);
  left: 50%;
  margin-top: 25vw;
  width: 50vh;
  height: 30vh;
}
.btn-5 {
position: relative;
transform: translate(-50%, -50%);
left: 50%;
top: -15vh;
margin-top: 10vw;

}
iframe {
  width:70vw;
  height:50vw;
