@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

body {
  background: #F0F8EA;
  font-family: 'Quicksand', sans-serif;
}

.container {
  width: 200%;
  max-width: 1000px;
  margin: 0 auto;
}

header {
  background: #1F1935;
  color: #FFF;
  padding: 1em 0;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;﻿
  bottom: 50px;
  height: 50px;
}

header::after {
  content: '';
  clear: both;
  display: block;
}

.logo {
  float: left;
  font-size: 1.2vw;
  margin: 0 auto;
  left: 10px;
  text-transform: uppercase;
  font-weight: 700;
}


.site-nav {
  position: absolute;
  top: 100%;
  right: 0%;
  background: #1F1935;
  clip-path: circle(0px at top right);
  transition: clip-path ease-in-out 700ms;
  height: 0px;
  overflow: hidden;
/*   display: none; */
}
body {
	margin: 0;
	background: #1F1935;
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
}

.container {
	width: 100%;
	margin: 0 auto;
}

header {
  background: #1F1935;
}

header::after {
  content: '';
  display: table;
  clear: both;
}


nav {
  float: center;
}

nav ul {
  margin: 0;
  padding: 10px;
  list-style: none;
}

nav li {
margin: 0 auto;

  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #FFF;

  position: relative;
  top: 23px;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}



.site-nav--open {
  clip-path: circle(250% at top right);
  height: auto;
  width: 145px;
/*   display: block; */
}

.site-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-nav li {
  border-bottom: 1px solid #FFF;
}

.site-nav li:last-child {
  border-bottom: none;
}

.site-nav a {
  color: #FFF;
  display: block;
  padding: 2em 4em 2em 1.5em;
  text-transform: uppercase;
  text-decoration: none;
}

.site-nav a:hover,
.site-nav a:focus {
  background: #000;
  color: #FFF;
}

.site-nav--icon {
  display: list-item;
  font-size: 1.5em;
  margin-right: 1em;
  width: 1.1em;
  text-align: right;
  color: rgba(255,255,255,.4);
}

.menu-toggle {
  padding: 1em;
  position: absolute;
  top: .5em;
  right: .5em;
  cursor: pointer;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  content: '';
  display: block;
  background: #EBEBD3;
  height: 3px;
  width: 1.75em;
  border-radius: 3px;
  transition: all ease-in-out 500ms;
  text-align: right;

}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

.open .hamburger {
  transform: rotate(45deg);
}

.open .hamburger::before {
  opacity: 0;
}

.open .hamburger::after {
  transform: translateY(-3px) rotate(-90deg);
}

@media (min-width: 1157px) {

  .menu-toggle {
    display: none;
  }

  .site-nav {
    height: auto;
    position: relative;
    background: transparent;
    float: right;
    clip-path: initial;
    text-align: right;

  }

  .site-nav li {
    display: inline-block;
    border: none;
    text-align: right;
  }

  .site-nav a {
    padding: 0;
    margin-left: 3em;
    text-align: right;

  }

  .site-nav a:hover,
  .site-nav a:focus {
    background: transparent;
    text-align: right;

  }

  .site-nav--icon {
    display: none;
  }

}
