

darkgrey


html {
      font-family: "Lato-Black";
}


body {
      margin: 0;
      padding: 0;
}
/* Logo Positioning*/
.logo {
  position: absolute;
  z-index:3;
  text-align: left;
  float: left;
  height: 6vh;
  margin: 1vh;
  text-align: left;
}
/* Nav bar positioning and customizing*/
ul {
      margin: auto;
      padding: 0;
      list-style-type: none;
      background: black;
      position: relative;
      text-align: center;
      z-index: 2;
}

ul li {
      display: inline-block;

}

ul li a {
      color: white;
      text-decoration: none;
      padding: 2.3vh;
      display: block;
      font-family: 'Open Sans Condensed', sans-serif;
}

ul li:hover {
      background: #9FDDCD;
     -webkit-transition:200ms ease;
     -moz-transition:200ms ease;
     -o-transition:200ms ease;
     transition:200ms ease;
}

ul ul {
      position: absolute;
      min-width: 20vh;
      background: #292929;
      display: none;
    ;

}

ul ul li {
     color: black;
      display: block;
      background: #292929;
}

ul li:hover ul {
      display: block;
}

ul li i {
      color:black;
      float: right;
      padding-left: 20vh;

}

nav div {
      background: black;
      color: #000000;
      font-size: 3.3vh;
      padding: 0.6em;
      cursor: pointer;
      display: none;
}

nav ul li {
float: center;
}
/* Making things responsive to be able to be viewed on phones */
@media(max-width: 768px) {
/* Nav bar responsive */
      nav div {
            display: block;
            color: #FFFFFF;
            text-align: right;
      }

      ul {
            z-index: 2;
            display: none;
            position: static;
            background: #000;

      }
      ul li:hover { background: #9FDDCD;}

      ul li {
            display: block;
      }

      ul ul {
            position: static;
            background: #e3e3e3;
      }
/* Logo Responsive */
      .logo {
        float: left;
        height: 6vh;
        margin: 1vh;
        text-align: left;
      }
/* Slideshow along with text and buttons on Slideshow Responsive */
/* SLide 2*/
      .slidetext2 {
        text-align: center;
        line-height: 20vh;
        top: -26vh;
      }

      .image1 {
          position: absolute;
          top: 63vh;
          right:33vw;
          width: 35vw;
          height: 25vw;
          float: right;
      }

      #buton2 {

        position: relative;
        top: -45vh;
        left: 0vh;
      }
