

darkgrey


html {
      font-family: "Lato-Black";
}


body {
      margin: 0;
      padding: 0;
}
/* Logo Positioning*/
.logo {
  position: fixed;
  z-index:9933;
  text-align: left;
  float: left;
  height: 6vh;
  margin: 1vh;
  text-align: left;
}
/* Nav bar positioning and customizing*/

ul {
      margin: auto;
      padding: 0;
      list-style-type: none;
      background: white;
      position: fixed;
      text-align: center;
      z-index: 999;
      width: 100%

}

ul li {
      display: inline-block;

}

ul li a {
      color: black;
      text-decoration: none;
      padding: 2.3vh;
      display: block;
      font-family: 'Open Sans Condensed', sans-serif;
}

ul li:hover {
      background: #9FDDCD;
     -webkit-transition:200ms ease;
     -moz-transition:200ms ease;
     -o-transition:200ms ease;
     transition:200ms ease;
}

ul ul {
      position: fixed;
      min-width: 20vh;
      background: #292929;
      display: none;
      width: 10%;
    ;

}

ul ul li {
     color: black;
      display: block;
      background: #CFE8EF;
}

ul li:hover ul {
      display: block;
}

ul li i {
      color:black;
      float: right;
      padding-left: 20vh;

}

nav div {
      background: black;
      color: #000000;
      font-size: 3.3vh;
      padding: 0.6em;
      cursor: pointer;
      display: none;
}

nav ul li {
float: center;
}
/* Contact Us */
* {

  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
.container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  top: -15%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
  background: #F9F9F9;
  padding: 25px;
  margin: 150px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
  display: block;
  font-size: 4vh;
  font-weight: bolder;
  margin-bottom: 10px;
  font-family: 'open sans Condensed'
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 3vh;
  font-weight: bolder;
  font-family: 'open sans Condensed'

}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #9FDDCD;
  color: #000;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 3vh;
  font-family: 'open sans Condensed';
  font-weight: bold;
}

#contact button[type="submit"]:hover {
  background: #98D3C3;

}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #9FDDCD;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}
